* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
input,
button{
    font-family: 'Poppins', sans-serif;

}

body {
    background: #E5E5E5;
}

body::before {
    content: "";
    width: 100%;
    height: 368px;
    background: #535971;
    top: 0;
    left: 0;
    z-index: -1;
    position: absolute;
}

.page {
    width: 736px;
    margin: 0 auto
}

header {
    width: 319px;
    margin-top: 74px;

}

header h1 {
    font-family: 'Staatliches', cursive;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color: white;
    margin-bottom: 24px;


}

header p {
    font-size: 16px;
    line-height: 26px;
    color: #fff;
}

form {
    margin-top: 38px;
    background: #fff;
    min-height: 300px;
    border-radius: 8px 8px 0 0;
    padding: 64px;
    display: flex;
    flex-direction: column;
    gap: 48px;
    color: #4E4958;
}

fieldset {
    border: none;
}

.fieldset-wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.firt-info {
    display: flex;
    gap: 22px;
}

.firt-info div {
    width: 300px;
}

fieldset legend {
    width: 100%;
    font-family: 'Staatliches', cursive;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    border-bottom: 1px solid #E6E6F0;
    padding-bottom: 16px;
    color: #535971;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
}

.input-wrapper label{
    color: #4E4958;
    font-size: 14px;
    line-height: 24px;
    margin-right: 12px;
    margin-bottom: 8px;
}

.input-wrapper label span {
    margin-left: 12px;
    color: #a3a2a7;
    font-size: 12px;
    line-height: 20px;
}

.input-wrapper label span:hover {
    color: #6c6a71;
}

.input-wrapper input{
    border-radius: 8px;
    border: 1px solid #E6E6F0;
    background: #FAFAFC;
    height: 56px;
    padding: 0 24px;
    color: #6c6a71;
    font-size: 16px;
    line-height: 26px;

}
.col-3 {
    display: flex;
    gap: 20px;
    width: 100%;
}

.col-3>div:nth-child(1) {
    width: 100%;
}
.date-membership{
    gap: 0;
}
.date-membership legend{
    margin-bottom: 24px;
}
.firt-menbership {
    color: #535971;
    font-family: 'Staatliches', cursive;
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;
    margin: 16px 0 8px;

}


footer {
    background: #535971;
    height: 136px;
    display: flex;
    flex-direction: column;
    padding: 40px 64px;
    margin-bottom: 100px;
    border-top: 1px solid #D6D6D6;
    border-radius: 0 0 8px 8px;
}

footer .button {
    height: 56px;
    border-radius: 8px;
    background: #FF5374;
    border: 0;
    color: #fff;
    font-family: 'Staatliches', cursive;
    font-size: 20px;
}
footer .button:hover {
    background: #eb4d6d;
}

/* input:invalid{
    border: 2px solid #FF1010;
} */